
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


        body {
            background-color: #C3E5AE;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .form-container {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
            width: 400px;
        }

        h1 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #ddd;
            text-align: left;
        }

        tr:last-child td {
            border-bottom: none;
        }

        .input {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .input input[type="text"],
        .input input[type="password"] {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 8px;
            width: 250px;
            margin-left: 10px;
        }

        button {
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            margin-top: 10px;
            height: 100%;
            width: 100%;
        }

        button:hover {
            background-color: #45a049;
        }

        .click {
            cursor: pointer;
        }